<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous"
/>
<div class="navbar-container">
  <div class="logo">
    <a href="/">Product<span>App</span></a>
  </div>
  <div class="sub-menu">
    <a href="/login"><i class="fas fa-sign-in-alt"></i>Giriş Yap</a>
    <a href="/addProduct"><i class="fa fa-th"></i>Ürünler</a>
    <a href="#">
      <i class="fa fa-shopping-basket"></i>
      <span> Sepet [{{ basketCount }}]</span>
    </a>
  </div>
</div>
