<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="navbar-container">
  <div class="logo">
    <a href="/">Product<span>App</span></a>
  </div>
  <div class="sub-menu">
    <a href="/login"><i class="fa fa-sign-in"></i>Giriş Yap</a>
    <a href="/addProduct"><i class="fa fa-th"></i>Ürünler</a>
    <a href="#">
      <i class="fa fa-shopping-basket"></i>
      <span> Sepet [{{ basketCount }}]</span>
    </a>
  </div>
</div>
