<body>
  <div class="add-product-container">
    <form action="add-product">
      <div class="add-product-title">
        <h3>Ürün Ekleme Sayfası</h3>
      </div>

      <label for="p-name">Ürün Adı</label>
      <input
        [(ngModel)]="productName"
        value=""
        type="text"
        id="pname"
        name="product-name"
        placeholder="Ürün Adını Giriniz..."
      />
      <label for="p-category">Ürün Kategorisi</label>
      <select
        id="p-category"
        name="product-category"
        [(ngModel)]="productCategory"
        value=""
      >
        <option>Elektronik</option>
        <option>Kıyafet</option>
        <option>Telefon</option>
        <option>Ayakabı</option>
        <option>Bilgisayar</option>
        <option>Yemek</option>
      </select>

      <label for="p-stock">Ürün Adet Sayısı</label>
      <select
        id="pstock"
        name="product-stok"
        [(ngModel)]="productStock"
        value=""
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="p-details">Ürün Detayı</label>
      <textarea
        id="details"
        name="product-details"
        placeholder="Ürün detayı giriniz..."
        style="height: 80px"
        [(ngModel)]="productDesc"
        value=""
      ></textarea>
      <div class="list-products">
        <input type="submit" value="Kaydet" (click)="addProducts()" />

        <div *ngFor="let product of products">
          <div>
            <div>{{ product }}</div>
          </div>
        </div>
        <input
          (click)="deleteProducts()"
          type="button"
          value="Sil"
          [hidden]="
            productName == null ||
            productCategory == null ||
            productStock == null ||
            productDesc == null
          "
        />
      </div>
    </form>
  </div>
</body>
