<div class="add-product-container">
    <div class="add-product-title">
        <h2>Ürün Ekleme Listesi</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div ngModelGroup = "productData"></div>
      <div class="form-group">
        <label>Adı </label>
        <input type="text" required name="name" class="form-control" ngModel />
      </div>
      <div class="form-group">
        <label>Kategori </label>
        <input type="text" required name="category" class="form-control" ngModel />
      </div>
      <div class="form-group">
        <label>Fiyatı </label>
        <input
          required
          type="text"
          class="form-control"
          name="price"
          ngModel
        />
      </div>    
      <div class="form-group">
        <label>Açıklama</label>
        <input
        type="text"
          name="desc"
          required
          class="form-control"
          ngModel
        />
      </div>
      <button class="submit-button" type="submit"
    [disabled]="!f.valid">Kaydet</button>
    </form>
    <hr>
    <div *ngIf ="submitted">
        <div class="add-product-title">
            <h2>Ürün Listesi</h2>
        </div>
      <table>
        <thead>
        <tr>
        <th class="tableHead">Adı</th>
        <th class="tableHead">Kategorisi</th>
        <th class="tableHead">Fiyatı</th>
        <th class="tableHead">Açıklaması</th>
        <th class="tableHead">Düzenle</th>
        <th class="tableHead">Sil</th>
        </tr>
      </thead>
      <tbody >
       <tr *ngFor="let product of formData">
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>₺{{product.price}}</td>
        <td>{{product.desc}}</td>
        <td class="edit-button"><button (click)="onEdit(product)">Düzenle</button></td>
        <td class="delete-button"><button (click)="onDelete(product)">Sil</button></td>
       </tr>
      </tbody>
      </table>
    </div>
  </div>
  